#header {
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    .upperNav {
        background-color: #EBEBEB;
        height: 56px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 74px;
        padding: 17px 98px;
        @include responsive (max , 991px) {
            display: none;
        }
        a {
            display: flex;
            align-items: center;
            gap: 5px;
            font-family: $mainFont;
            color: $color-secondary;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
        }
        @include responsive(max,768px) {
            display: none;
        }
    }


    .navsbar {
        padding: 16px 96px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        height: 100px;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
        background-color: white;

        @include responsive (max, 1100px) {
            gap: 20px;
            padding: 16px 50px;
        }

        &__logo {
            width: 80px;
            height: 80px;
            overflow: hidden;

            @include responsive (max, 991px) {
                width: 60px;
                height: 60px;
            }

            img {
                width: 100%;
                height: 100%;
                // display: inline-block;
            }
        }

        &__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 0;
            flex: 1 0 0;
            

            @include responsive (max, 991px) {
                display: none;
            }

            li {
                a {
                    font-family: $mainFont;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    color: $color-secondary;
                    transition: all .5s;
                }

                &:has(.active) a {
                    color: $color-primary;
                }

                &:has(.services) {
                    position: relative;
                    cursor: pointer;
                    &::after {
                        content: "\f107";
                        font-weight: 900;
                        font-family: "Font Awesome 5 Free";
                        margin-#{$s}: 6px;
                        color: $color-primary;
                        transition: all .5s;
                    }
                }

                &:hover a {
                    color: $color-primary;
                    text-shadow: 0px 2px 16px rgba(3, 95, 168, 0.20);
                }

                .language {
                    font-family: $mainFont;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    color: rgba(3, 95, 168, 0.60);
                    text-align: center;
                }
            }
        }

        &__hamborg-tab {
            display: none;
            cursor: pointer;
            border: none;
            outline: none;
            padding: 0;
            background-color: transparent;

            @include responsive(max, 991px) {
                display: block;
            }
        }

        
    }
}

.navsbar__mobile {
    padding: 12px;

    &__list {
        text-align: center;
        width: 100%;

        li {
            width: 100%;
            padding: 16px;

            a {
                color: rgba(0, 0, 0, 0.80);
                font-family: $mainFont;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
            }

            &:has(.active) a {
                color: $color-primary;
            }

            &:has(.services) {
                position: relative;
                cursor: pointer;
                &::after {
                    content: "\f107";
                    font-weight: 900;
                    font-family: "Font Awesome 5 Free";
                    margin-#{$s}: 6px;
                    color: $color-primary;
                    transition: all .5s;
                }
            }
        }

        .language {
            span {
                color: $color-primary;
                font-family: $mainFont;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
            }
        }
    }

    &__btn {
        width: 100%;
        border-radius: 0;
    }
}