.requestDemo {
    .modal-content {
        width: 70%;
        margin: auto;
        padding: 20px;
        @include responsive (max,991px) {
            width: 100%;
        }
        .modal-header {
            border-bottom: 0;
            .modal-title {
                max-width: 90%;
                font-family: $mainFont;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
            }
        }
        .modal-body {
            border-bottom: 0;
            input {
                margin-bottom: 24px;
            }
            .textarea__after {
                width: max-content;
                margin-#{$s}:auto;
                margin-#{$e}:0;
                margin-top: 16px;
            }
        }
        .modal-footer {
            border-top: 0;
            button {
                width: 100%;
            }
        }
    }
}